**/.DS_Store
/config/Radarr/
/config/zsh/plugins/fast-syntax-highlighting
/config/zsh/plugins/zsh-autosuggestions
/config/zsh/plugins/zsh-history-substring-search
/config/zsh/plugins/zsh-utils
/config/zsh/plugins/zsh-you-should-use
